<div class="food" [@flyShowRight]="showFlag" #fooddetail>
    <div class="food-content">
        <div class="image-header" (click)="_initScroll()">
            <img [src]="food.image" alt="">
            <div class="back" (click)="isHide()">
                <i class="fa fa-chevron-left"></i>
            </div>
        </div>
        <div class="content">
            <h1 class="title">{{food.name}}</h1>
            <div class="detail">
                <span class="sell-count">月售{{food.sellCount}}份</span><span class="rating">好评率{{food.sellCount}}%</span>
            </div>
            <div class="price">
                <span class="now">￥{{food.price}}</span>
                <span class="old" *ngIf="food.oldPrice">￥{{food.oldPrice}}</span>
            </div>
            <div class="cartcontrol-wrapper">
                <cartcontrol [food]="food" (selectFoodsEmit)="selectFoods($event)"></cartcontrol>
            </div>
            <div class="buy" (click)="onAddFirst()" *ngIf="!food.count || food.count === 0">加入购物车</div>
        </div>
        <wm-split *ngIf="food.info"></wm-split>
        <div class="info" *ngIf="food.info">
            <h1 class="title">商品信息</h1>
            <p class="text">{{food.info}}</p>
        </div>
        <wm-split></wm-split>
        <div class="rating">
            <h1 class="title">商品评价</h1>
            <wm-ratingselect [selectType]="selectType" [onlyContent]="onlyContent" [desc]="desc" [ratings]="food.ratings"></wm-ratingselect>
        </div>
    </div>
</div>